# Python environments
.venv/
venv/
medgan_env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Environment / secrets
.env
.env.*

# Temporary files
*.tmp
*.log

# Local datasets
heart_disease.csv
heart_ctabgan_clean.csv

# Local CTAB-GAN example datasets
CTAB-GAN/Real_Datasets/
CTAB-GAN/Fake_Datasets/
